<!-- This is just a mock wire frame for the dashboard page! -->
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div class="well">
      	<br>
      	<br>
        <p>*USER AVATAR*</p>
        <br>
        <br>
      </div>
      <div class="well">
        <p>*FRIENDS LIST*</p>
        <p>- This will be a scrollable div of your friends list.</p>
        <p>- Friend</p>
        <p>- Friend</p>
        <p>- Friend</p>
        <p>- Friend</p>
        <p>- Friend</p>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="col-sm-8 text-left well">
      <h2 class="text-center">Welcome <%= current_user.name %>.</h1>
      <p class="text-center">Share some of your thoughts to your followers.</p>
	      <div class="col-sm-12 well">
	      	<div class="col-sm-12">
		      <form class="form-register" action ='' method =''>
					  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

					  <input type='hidden' name='current_user.id' value='<%=  %>'>

					  <textarea class="form-control" rows="6" name="content"></textarea>
					  <button type='submit' class='btn btn-primary btn-md btn-block'>Post it</button>
					</form>
				</div>
			</div>
      <hr>
      <div class="col-sm-12">

      	<div class="">

	      	<h3>MasteryDex Feed</h3>
	      	<p>What others are posting...</p>

	      	<div class='well'>
	      		<p>Name</p>
	      		<p>Random Post</p>
	      	</div>

	      	<div class='well'>
	      		<p>Name</p>
	      		<p>Random Post</p>
	      	</div>

	    	</div>
	    	
			</div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
      	<h3>Favorite Summoners</h3>
      	<p>Default Favorite (summoner_id in Users table)</p>
      	<p>First Favorite</p>
      	<p>Second Favorite</p>
      	<p>Third Favorite</p>
      	<p>Fourth Favorite</p>
      	<p>Fifth Favorite</p>
      	<p>Sixth Favorite</p>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>