<button id="sortButton" type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#champSortModal"><span class="fa fa-bars fa-2x"></span></button>

<div style="color:black" class="modal" id="champSortModal" tabindex="-1" role="dialog"
aria-labelledby="champSortModal1" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="champSortModalLabel">Sort Champions</h4>
    </div>
    <div class="modal-body">

      <form>
        SORT THINGS
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
    </div>
  </div>
</div>
</div>
