/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  font-family: Impact, Charcoal, sans-serif;

}

#landing_page{
 	background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/environmentart-sru-04_1920.jpg?itok=Pj-vA3Wa");
	color:white;
}
#main_content{
  margin-bottom:200px;
  margin-top:200px;
}
#footer{
  background-color: white;
  color:#464444;
}
.background{
	background:  no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
.glyphicon-home{
	height: 25px;
	width: 25px;
}

.navbar {
  background-color: rgba(23, 23, 23, 0.69);
	height: 25px;
}
.navbar-form{
	margin-top: -39px;
}
#summoner_page {
	background-image: url("/images/bg.png");
	background-position: center;
	width: 100%;
	height:auto;
	background-repeat: no-repeat;
  overflow: visible;
  position: relative;
}
#footer{
  background-color: white;
}

#summoner_banner{
  border-color: black;
  color: white;
  margin-top: 20px;
  background-color: rgba(23, 23, 23, 0.69);
  padding-left:15px;
}
#top_champ{
  vertical-align: middle;
}
#summonerModal{
  padding-top: 0px;
}
#modalBody{
  border-color: rgba(0, 0, 0, 0.43);
  color: white;
  margin-top: -10px;
  background-color: rgba(23, 23, 23, 0.69);
}
#summonerTabs{
  border-bottom: none;
}
#summonerTabs li a{
  background-color: rgba(0, 0, 0, 0.43);
}
#summonerTabs li.active a{
  border:none;
  background-color: rgba(185, 169, 137, 0.25);
}
#summonerTabs a{
  text-decoration: none;
  color: white;
}
.index_container{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
}
.white {
	color: white;
	padding-top: 5px;
}
.red {
	color: red;
	padding-top: 5px;
	text-shadow: none;
}
/* Champion Mastery Icons/Progress bars */
#champ_icon{
	z-index: 0;
}

.thumb {
  text-transform: uppercase;
  background: #ececec;
  color: #555;
  font-size: 17px;
  display:inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
  height:110px;
  width: 110px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}
.thumb:hover > .mastered_champ, .unmastered_champ{
  opacity: .5;
}

.popover-title{
  font-family: "Gill Sans", Impact, sans-serif;

}
#champion_list{
	background-color: rgba(23, 23, 23, 0.69);
  height: auto;
  padding-bottom: 15px;

}
#champ_mastery_wrapper {
  height: 510px;
  text-transform: uppercase;
   color: #555;
}

.thumb:hover > #chests {
  opacity: 1.0;
}
.thumb:hover > #no_chest {
  opacity: 1.0;
}
#chests, #no_chest{
  top: 68px;
  left: 6px;
  height: 30px;
  width: 30px;
  position: absolute;
    z-index: 9999999;
  opacity: 0;
}

#no_chest{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
#progress_wrapper{
  height:45px;
  position: absolute;
  bottom:48px;
}
#icon_mastery_progress{
	width: 110px;
	height: 8px;
	z-index: 1;
  position:absolute;
  top:85px;

	display: inline-block;
}
#icon_mastery_rank{
	height:35px;
	width:40px;
  position: absolute;
  top:48px;
  left: 65px;
	z-index: 1;

}
/* Show Graph View */
#compare_search{
	vertical-align: top;
}
#champ_chart{
	margin-bottom: 30px;
	margin-top: 50px;
}
#graph_container{
	padding: 5px;
	background-color: rgba(23, 23, 23, 0.4);
  color: white
}
tspan{
  font-weight: normal;
  font-size: 14px;
}
text{
  color: white;
}
#rank_score{
	vertical-align: top;
	text-align: right;
	height: 75px;
	width: 85px;
	font-style: none;
	z-index: 1;
	margin-left: 19px;
	margin-top: -45px;
}
/* Align champion_token and token_amount on top of eachother to produce champ_token */
#champion_token, #token_amount, #token_border{
  position: absolute;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:75px;
}
#champion_token{
  z-index: -2;
}
#token_amount{
  top:40%;
  left:68%;
  z-index: -1;
}
/* Show_Graph Align Champion_Icon and Mastery_Border on top of each other */
#layered_icon, #layered_border{
  position: absolute;
  margin:auto;
  top:110%;
  right:0;
  left:0;
}
#layered_border{
  top:90%;
  height: 180px;
  width: 100px;
}

/* Show_Graph Chest color-filled when true, black/white when false */
#chest, #noChest{
  height: 70px;
  width: 70px;
}

#noChest{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}


.right {
  margin-left:400px;
}
#summoner_header{
  padding-top: 15px;
}
