/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
*{
  font-family: Impact, Charcoal, sans-serif;

}

#landing_page{
 	background-image: url("http://na.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/environmentart-sru-04_1920.jpg?itok=Pj-vA3Wa");
	color:white;
}
#main_content{
  margin-bottom:200px;
  margin-top:200px;
}
#footer{
  background-color: white;
  color:#464444;
}
#header_bg{
  background: no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
  -webkit-box-shadow: 0 0 30px rgba(10, 187, 255, 0.9);
  box-shadow: 0 0 30px rgba(10, 187, 255, 0.9);
  margin-bottom: 50px;
}
.background{
	background:  no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
.glyphicon-home{
	height: 25px;
	width: 25px;
}

.navbar {
  background-color: rgba(27, 47, 54, 0.8);
	height: 25px;
}
.navbar-form{
	margin-top: -39px;
}

#summoner_page {
	background-image: url("/images/bg.png");
	background-position: center;
	width: 100%;
	height:auto;
	background-repeat: no-repeat;
  overflow: visible;
  position: relative;
}
#footer{
  background-color: white;
}

#summoner_banner{
  border-color: black;
  color: white;
  margin-top: 20px;
  background-color: rgba(27, 47, 54, 0.90);
  padding-left:15px;
}
#top_champ{
  vertical-align: middle;
}
#summonerModal{
  padding-top: 0px;
}
#modalBody{
  border-color: rgba(0, 0, 0, 0.43);
  color: white;
  margin-top: -10px;
  background-color: rgba(23, 23, 23, 0.69);
}
#summonerTabs{
  border-bottom: none;
}
#summonerTabs li a{
  background-color: rgba(0, 0, 0, 0.43);
}
#summonerTabs li.active a{
  border:none;
  background-color: rgba(185, 169, 137, 0.25);
}
#summonerTabs a{
  text-decoration: none;
  color: white;
}
.index_container{
  background-color: rgb(27, 47, 54);
  border-radius: 5px;
  text-align: center;
}
.white {
	color: white;
	padding-top: 5px;
}
.red {
	color: red;
	padding-top: 5px;
	text-shadow: none;
}
/* Champion Mastery Icons/Progress bars */
#champ_icon{
	z-index: 0;
}

.thumb {
  text-transform: uppercase;
  background: #ececec;
  color: #555;
  font-size: 17px;
  display:inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
  height:110px;
  width: 110px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}
.thumb:hover > .mastered_champ, .unmastered_champ{
  opacity: .5;
}

.popover-title{
  font-family: "Gill Sans", Impact, sans-serif;

}
#champion_list{
	background-color: rgba(27, 47, 54, 0.90);
  height: auto;
  padding-bottom: 15px;

}
#champ_mastery_wrapper {
  height: 510px;
  text-transform: uppercase;
   color: #555;
}

.thumb:hover > #chests {
  opacity: 1.0;
}
.thumb:hover > #no_chest {
  opacity: 1.0;
}
#chests, #no_chest{
  top: 68px;
  left: 6px;
  height: 30px;
  width: 30px;
  position: absolute;
    z-index: 9999999;
  opacity: 0;
}

#no_chest{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
#progress_wrapper{
  height:45px;
  position: absolute;
  bottom:48px;
}
#icon_mastery_progress{
	width: 110px;
	height: 8px;
	z-index: 1;
  position:absolute;
  top:85px;

	display: inline-block;
}
#icon_mastery_rank{
	height:35px;
	width:40px;
  position: absolute;
  top:48px;
  left: 65px;
	z-index: 1;

}
/* Show Graph View */
#compare_search{
	vertical-align: top;
}
#champ_chart{
	margin-bottom: 30px;
}
#graph_container{
	padding: 5px;

	background-color: rgba(23, 23, 23, 0.4);
  color: white
}
tspan{
  font-weight: normal;
  font-size: 14px;
}
text{
  color: white;
}
#rank_score{
	vertical-align: top;
	text-align: right;
	height: 75px;
	width: 85px;
	font-style: none;
	z-index: 1;
	margin-left: 19px;
	margin-top: -45px;
}
.opaque{
  background-color: rgba(51, 58, 64, 0.45);

/* Align champion_token and token_amount on top of eachother to produce champ_token */
#champion_token, #token_amount, #token_border{
  position: absolute;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:75px;
}
#champion_token{
  z-index: -2;
}
#token_amount{
  top:40%;
  left:68%;
  z-index: -1;
}
/* Show_Graph Align Champion_Icon and Mastery_Border on top of each other */
#layered_icon, #layered_border{
  position: absolute;
  margin:auto;
  top:110%;
  right:0;
  left:0;
}
#layered_border{
  top:90%;
  height: 180px;
  width: 100px;
}

/* Show_Graph Chest color-filled when true, black/white when false */
#chest, #noChest{
  height: 70px;
  width: 70px;
}

#noChest{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}


.maxWidth{
  width:1100px;
}
.background_grad{
  background: rgba(8, 20, 27, 0.9); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(8, 20, 27, 0.9) , rgba(49, 78, 92, 0.9), rgba(49, 78, 92, 0.9), rgba(8, 20, 27, 0.9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(8, 20, 27, 0.9), rgba(49, 78, 92, 0.9), rgba(49, 78, 92, 0.9), rgba(8, 20, 27, 0.9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(8, 20, 27, 0.9), rgba(49, 78, 92, 0.9), rgba(49, 78, 92, 0.9), rgba(8, 20, 27, 0.9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(22, 24, 25, 1), rgba(3, 33, 44, 0.8) , rgba(3, 78, 106, 0.75), rgba(3, 78, 106, 0.75),rgba(3, 33, 44, 0.8), rgba(22, 24, 25, 1)); /* Standard syntax */
}
/* Align champion_token and token_amount on top of eachother to produce champ_token */
#champion_token, #token_amount, #token_border{
  position: absolute;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:75px;
}
#champion_token{
  z-index: 0;
}
#token_amount{
  top:40%;
  left:68%;
  z-index: 1;
}
#token_border{
  z-index: 2;
}
/* Show_Graph Align Champion_Icon and Mastery_Border on top of each other */
#layered_icon, #layered_border{
  position: absolute;
  margin:auto;
  top:110%;
  right:0;
  left:0;
}
#layered_border{
  top:90%;
  height: 180px;
  width: 100px;
}

/* Show_Graph Chest color-filled when true, black/white when false */
#chest, #noChest{
  height: 70px;
  width: 70px;
}

#noChest{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
/* Relative class just to handle all the absolute positions*/
.relative{
  position: relative;
}
.right {
  margin-left:400px;
}
#summoner_header{
  padding-top: 15px;
}
#favorites, #following{
  padding:5px;
}
#favorites > ul, #following > ul {
  list-style:none;
  padding-left: 0;
}
div.hoverRow {
  cursor: pointer;
  border: 1px solid #999999;
  padding: 3px;
}

div.hoverRow:hover {
	background-color: #e3e3e3;
}
/*/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33q0u0kllllaFw0g0qFqFg0w0aF */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

/*.color-primary-0 { color: #27586B }	/* Main Primary color */
/*.color-primary-1 { color: #6D92A0 }
.color-primary-2 { color: #457485 }
.color-primary-3 { color: #103E50 }
.color-primary-4 { color: #022735 }

.color-secondary-1-0 { color: #AA8939 }	/* Main Secondary color (1) */
/*.color-secondary-1-1 { color: #FFE7AA }
.color-secondary-1-2 { color: #D4B66A }
.color-secondary-1-3 { color: #806115 }
.color-secondary-1-4 { color: #553C00 }

.color-secondary-2-0 { color: #AA4C39 }	/* Main Secondary color (2) */
/*.color-secondary-2-1 { color: #FFB9AA }
.color-secondary-2-2 { color: #D47D6A }
.color-secondary-2-3 { color: #802815 }
.color-secondary-2-4 { color: #550F00 }



/* As RGBa codes */

/*.rgba-primary-0 { color: rgba( 39, 88,107,1) }	/* Main Primary color */
/*.rgba-primary-1 { color: rgba(109,146,160,1) }
.rgba-primary-2 { color: rgba( 69,116,133,1) }
.rgba-primary-3 { color: rgba( 16, 62, 80,1) }
.rgba-primary-4 { color: rgba(  2, 39, 53,1) }

/*.rgba-secondary-1-0 { color: rgba(170,137, 57,1) }	/* Main Secondary color (1) */
/*.rgba-secondary-1-1 { color: rgba(255,231,170,1) }
.rgba-secondary-1-2 { color: rgba(212,182,106,1) }
.rgba-secondary-1-3 { color: rgba(128, 97, 21,1) }
.rgba-secondary-1-4 { color: rgba( 85, 60,  0,1) }

.rgba-secondary-2-0 { color: rgba(170, 76, 57,1) }	/* Main Secondary color (2) */
/*.rgba-secondary-2-1 { color: rgba(255,185,170,1) }
.rgba-secondary-2-2 { color: rgba(212,125,106,1) }
.rgba-secondary-2-3 { color: rgba(128, 40, 21,1) }
.rgba-secondary-2-4 { color: rgba( 85, 15,  0,1) }



/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */
